<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="leo_sim">

  <xacro:arg name="fixed" default="false"/>
  <xacro:arg name="mecanum_wheels" default="false"/>

  <xacro:include filename="$(find t1_rover)/urdf/macros.xacro"/>

  <xacro:leo_sim fixed="$(arg fixed)"
                 mecanum_wheels="$(arg mecanum_wheels)"/>
                 

</robot>